* {
    box-sizing: border-box;
}

div, header, footer {
    border: 1px solid;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace, 'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: rgb(69, 50, 46);
    color: rgb(189, 181, 179);
    margin: 0;
    padding: 10px;
}

a {
    color: rgb(189, 181, 179);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(190, 125, 128);
    text-decoration: underline;
}

.flex-container {
    display: grid;
    
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.left {
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.left .second {
    text-align: left;
}

.left .third {
    text-align: left;
}


.right {
    display: grid;

    grid-template-columns: 1fr;
    gap: 20px;
    align-items: start;
}

.fourth {
    margin: auto;
    display: block;

    width: 100%; 
}


.flex-container3 {
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.middle {
    display: grid;

    place-items: center;
    text-align: center;
    margin-top: 50px;
}

.middle ol {
    display: inline-block;
    text-align: left;
}


header {
    text-align: left;
    padding: 10px;
}

footer {
    text-align: right;
    padding: 10px;
    margin-top: 20px;
}


img {
    max-width: 100%;
    height: auto;
    display: block; 
}